/*Adding Font*/
@import url('https://fonts.googleapis.com/css2?family=Hind&family=Oleo+Script&display=swap');
:root{
   /* change the values below to your chosen font(s) */
  --heading-font: "Oleo Script";
  --paragraph-font: Hind; 

  /* change the values below to your colors from your palette */
  --primary-color: #942911;
  --secondary-color: #90aa86;
  --accent1-color: #de6b48;
  --accent2-color: white;
}
body{
   font-size: 22px;
   margin: 0;
   padding: 0;
}
.home-title, .msg h2{
    font-family: Oleo Script;
}
.home-title{
    font-size: 2em;
    margin-top: 10px;
}
.book, .join{
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
}
.msg p{
    font-size: .8em;
    line-height: 1.5em;
}
#content{
    max-width: 1600px;
    margin: 0 auto;
}
#logo_link{
    padding: 5px;
}
nav a{
    text-align: center;
    color: blue;
    text-decoration: none;
    padding: 35px;
}
.rivers-card, .camping-card, .rapids-card{
    margin: 200px 0;
}
.home-title{
    color: black;
}
h4{
    color: black;
}
#hero-msg h1, #hero-msg h4{
    text-align: center;
}
.book, .join{
    color: blue;
    text-decoration: none;
    border-radius: 5px;
}
.button-box{
    text-align: center;
}
main section{
    text-align: center;
}
#background{
    height: 725px;
    background-color: rgb(228, 178, 160);
}
header{
    background-color: rgba(61, 37, 6, 0.795);
}
nav a:hover{
    background-color: red;
    color: black;
}
.book:hover, .join:hover{
    background-color: chartreuse;
    color: red;
}
.msg{
    background-color: rgb(217, 197, 235);
    padding: 35px;
}
footer{
    background-color: rgba(61, 37, 6, 0.795);
    padding: 25px 50px;
    margin-top: 200px;
}
.msg h2{
    color: red;
}
.msg p{
    color: black;
    padding: 15px;
}
footer h3{
    color: white;
}
footer a{
    color: aqua;
    text-decoration: none;
}
footer a:hover{
    color: red;
    text-decoration: underline;
}
.icon{
    width: 80px;
    padding: 35px;
}
.logo{
    width: 80px;
}
#hero-msg{
    width: 100%;
}
footer .social img{
    padding-top: 15px;
}
.card-img{
    border: 10px solid #de6b48;
}
main section img{
    box-sizing: border-box;
}